<div class="modal fade" id="cadastrarTipoDespesa" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="cadastrarTipoDespesaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cadastrarTipoDespesaLabel">
                    <span>Cadastro de Tipo de Despesa</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal"
                    (click)="limparDados()">
                    <fa-icon [icon]="fasTimesCircle"></fa-icon>
                </button>
            </div>
            <div>
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Tipo de Despesa cadastrado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="erro == true">
                    {{ mensagemErro }}
                 </div>
                <div class="row center">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="form-label">Nome Tipo Despesa:</label>
                            <input type="text" class="form-control" [(ngModel)]="tipoDespesa.nome"
                                name="nome" size="60" maxlength="50" placeholder="Nome (Obrigatório)"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <ng-container>
                    <button type="submit" class="btn btn-primary" [disabled]="!cadastroLiberado()" (click)="onSubmit()">
                       <span style="font-size: 9pt;">Cadastrar</span>
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</div>