<div>
    <ol class="breadcrumb mb-4" style="align-content: center;">
        <span class="material-icons" font-size="50px">area_chart</span>
        <li style="font-weight: bold;">&nbsp;Gráficos e Indicadores ({{ mesAtual }})</li>
    </ol>
</div>

<div class="row center">
    <div class="col-md-5 mt-2">
        <div class="form-group">
            <select (change)="atribuirIgreja($event)">
                <option *ngFor="let igreja of igrejas" [ngValue]="igreja.id" [value]="igreja.id">
                    {{ igreja.nome }}
                </option>
            </select>
            <img src="/assets/loading.gif" width="48" height="48" alt="Carregando" *ngIf="isProcessandoIgreja">
        </div>
    </div>
</div>

<ol class="breadcrumb mb-4" style="align-content: center;">
    <li style="font-weight: bold;">&nbsp;Despesas x Contribuições</li>
</ol>
<div class="row center">
    <div class="col-xl-4 col-md-6">
        <div class="card mb-4">
            <div class="card-header">Totalizadores</div>
            <div class="card-body">
                <canvas #olahCanvas width="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4">
            <div class="card-header">Tipos de Despesa</div>
            <div class="card-body">
                <canvas #olahCanvas2 width="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card mb-4">
            <div class="card-header">Tipos de Contribuição</div>
            <div class="card-body">
                <canvas #olahCanvas3 width="100%"></canvas>
            </div>
        </div>
    </div>
</div>


<ol class="breadcrumb mb-4" style="align-content: center;">
    <li style="font-weight: bold;">&nbsp;Indicadores de Membros</li>
</ol>
<div class="row center">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total Geral de Membros</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
               <p *ngIf="lancamentos.totalDeMembros" class="center">{{ lancamentos.totalDeMembros }}</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-5">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Total entregaram contribuições</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
               <p *ngIf="lancamentos.totalEntregaramContribuicoes" class="center">
                   {{ lancamentos.totalEntregaramContribuicoes }} (neste mês)
               </p>
            </div>
        </div>
    </div>
</div>