<div>
    <ol class="breadcrumb mb-4" style="align-content: center;">
        <span class="material-icons" font-size="50px">area_chart</span>
        <li style="font-weight: bold;">&nbsp;Gráficos e Indicadores</li>
    </ol>
</div>

<div class="row center">
    <div class="col-md-5 mt-2">
        <div class="form-group">
            <select>
                <option *ngFor="let igreja of igrejas" [ngValue]="idIgrejaSelecionada" [value]="idIgrejaSelecionada">
                    {{ igreja.nome }}
                </option>
            </select>
            <img src="/assets/loading.gif" width="48" height="48" alt="Carregando" *ngIf="isProcessandoIgreja">
        </div>
    </div>
</div>

<div class="row center">
    <div class="col-xl-5 mt-1">
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Lançamentos (últimos 30 dias)</div>
            <div class="card-body"><canvas #olahCanvas width="100%"></canvas></div>
        </div>
    </div>
</div>

<ol class="breadcrumb mb-4" style="align-content: center;">
    <li style="font-weight: bold;">&nbsp;Indicadores de Membros</li>
</ol>
<div class="row center">
    <div class="col-xl-2 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total de Membros</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
               <p class="center">500</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-5">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Total entregaram contribuições</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
               <p class="center">420 (nos últimos 30 dias)</p>
            </div>
        </div>
    </div>
</div>