<div class="modal fade" id="cadastrarTipoContribuicao" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="cadastrarTipoContribuicaoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
<!--<div *ngIf="mostrar" class="modal" tabindex="-1" role="dialog">-->
<!--<div *ngIf="mostrar" class="modal fade" id="tipoContribuicao" data-backdrop="static"
        tabindex="-1" role="dialog" aria-labelledby="cadastrarTipoContribuicaoLabel" aria-hidden="true">-->
    <p>Teste Tipo Contribuição</p>
    <div (click)="toggle()">Toggle</div>
    </div></div></div>
</div>