<div class="breadcrumb mb-4 center" *ngIf="perfilUsuarioLogado != 2 && perfilUsuarioLogado != 3">
    <br/><br/>
    <span class="material-icons" font-size="50px">house</span>
    <b>{{ infoCongregacao }}</b>
    <span class="mt-5 mb-0">Bem-vindo!</span>
</div>

<div *ngIf="perfilUsuarioLogado == 2">
    <app-graficos></app-graficos>
</div>

<div *ngIf="perfilUsuarioLogado < 2" class="center mt-5">
    <table class="table-responsive center">
        <tr class="center">
            <td>
                <p class="center"><img src="/assets/calendar.jpg" width="20%" height="20%"></p>
            </td>
        </tr>
        <tr class="center mt-3">
            <td>
                <button style="font-size: 10pt; font-weight: normal;" type="button"
                    class="btn btn-success btn-block btn-sm" (click)="abrirEventos()">
                    &nbsp;&nbsp;Inscrever-se nos eventos da sua Igreja
                </button>
            </td>
        </tr>
        <tr class="center mt-3">
            <td>
                <button style="font-size: 10pt; font-weight: normal;" type="button"
                    class="btn bg-danger btn-block btn-sm text-white" (click)="abrirAgenda()">
                    &nbsp;&nbsp;Ver o calendário da sua igreja
                </button>
            </td>
        </tr>
    </table>
</div>

<div *ngIf="perfilUsuarioLogado == 3">
    <h2 class="center mt-5">Bem-vindo, Usuário Master!</h2>
    <div class="center">
        <p class="mt-5">Lembre-se: com grandes poderes vêm grandes responsabilidades.</p>
    </div>
</div>